// Кольори
$primary-text-color: #555555;
$title-text-color: #303030;
$inverse-primery-text-color: #ffffff;
$inverse-secondary-text-color: #9da4bd;
$inverse-other-text-color: rgba(157, 164, 189, 0.6);
$accent-color: #ff6c00;
$primary-background-color: #ffffff;
$secondary-background-color: #f7f7f7;
$footer-background-color: #191c26;
$price-background-color: #111319;
$price-line: rgba(157, 164, 189, 0.12);
$price-block-text: #9DA4BD;
$background-style: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
$background-style-two: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);


// CSS-переходи
$timing-animation: cubic-bezier(0.4, 0, 0.2, 1);
$duration-animation: 250ms;

// Ширини екранів
$mobile-screen: 480px;
$tablet-screen: 768px;
$desktop-screen: 1200px;
