<section class="section">
    <div class="container">
      <b class="slogan barba">на латинском языке “барба” означает “борода”</b>
    <ul class="portfolio-list">
        <li class="item">
             <picture>
                 <source srcset="
                 ./images/boroda_images/boroda-desktop1.jpg 1x, 
                 ./images/boroda_images/boroda-desktop@2x.jpg 2x"

                 media="(min-width: 1200px)"
                 />

                 <source
                 srcset="
                 ./images/boroda_images/boroda-tablet1.jpg 1x, 
                 ./images/boroda_images/boroda-tabler1@2x.jpg 2x"
                 
                 media="(min-width: 768px)"
                 />
                 <source srcset="
                 ./images/boroda_images/boroda1.jpg 1x, 
                 ./images/boroda_images/boroda1x2.jpg 2x"
                 media="(max-width: 767px)"
                 />
                 <img class="img"
             src="./images/boroda_images/boroda-desktop1.jpg"
            alt="Фото першої роботи"
            >
             </picture>

                
       
        </li>

        <li class="item">
            <picture>
                <source srcset="
                ./images/boroda_images/boroda-desktop2.jpg 1x, 
                ./images/boroda_images/boroda-desktop2@2x.jpg 2x"

                media="(min-width: 1200px)"
                />

                <source
                srcset="
                ./images/boroda_images/boroda-tablet2.jpg 1x, 
                ./images/boroda_images/boroda-tablet2@2x.jpg 2x"
                
                media="(min-width: 768px)"
                />
                <source srcset="
                ./images/boroda_images/boroda2.jpg 1x, 
                ./images/boroda_images/boroda2x2.jpg 2x"
                media="(max-width: 767px)"
                />
                
                <img class="img"
            src="./images/boroda_images/boroda-desktop2.jpg"
           alt="Фото другої роботи"
           >
            </picture>

               
        </li>

        <li class="item">
            <picture>
                <source srcset="
                ./images/boroda_images/boroda-desktop3.jpg 1x, 
                ./images/boroda_images/boroda-desktop3@2x.jpg 2x"

                media="(min-width: 1200px)"
                />

                <source
                srcset="
                ./images/boroda_images/boroda-tablet3.jpg 1x, 
                ./images/boroda_images/boroda-tablet3@2x.jpg 2x"
                
                media="(min-width: 768px)"
                />
                <source srcset="
                ./images/boroda_images/boroda3.jpg 1x, 
                ./images/boroda_images/boroda3x2.jpg 2x"
                media="(max-width: 767px)"
                />
                
                <img class="img"
            src="./images/boroda_images/boroda-desktop3.jpg"
           alt="Фото третьої роботи"
           >
            </picture>

               
        </li>
        
        <li class="item">
            <picture>
                <source srcset="
                ./images/boroda_images/boroda-desktop4.jpg 1x, 
                ./images/boroda_images/boroda-desktop4@2x.jpg 2x"

                media="(min-width: 1200px)"
                />

                <source
                srcset="
                ./images/boroda_images/boroda-tablet4.jpg 1x, 
                ./images/boroda_images/boroda-tablet4@2x.jpg 2x"
                
                media="(min-width: 768px)"
                />
                <source srcset="
                ./images/boroda_images/boroda4.jpg 1x, 
                ./images/boroda_images/boroda4x2.jpg 2x"
                media="(max-width: 767px)"
                />
                
                <img class="img"
            src="./images/boroda_images/boroda-desktop4.jpg"
           alt="Фото червертої роботи"
           >
            </picture>

               
        </li>
    </ul> 
</div>
</section>