<header class="header">
  <div class="container header-nav-container">
    <a href="./index.html">
      <svg class="logo" aria-label="Логотип">
        <use href="./images/sprite.svg#icon-Logo"></use>
      </svg>
    </a>

    <div class="mobile-menu-backdrop" id="menu-container" data-menu>
      <div class="mobile-menu-container">
        <nav class="main-nav">
          <ul class="main-nav__nav">
            <li><a href="#about-us">О нас</a></li>
            <li><a href="#price">Услуги и цены</a></li>
            <li><a href="#masters">Мастера</a></li>
            <li><a href="#contacts">Контакты</a></li>
          </ul>
        </nav>

        <div class="header-contacts">
          <a class="header-phone" href="tel:+380441111111">+38 044 111 11 11</a>
          <a class="button secondary" href="#order-form">онлайн-запись</a>
        </div>

        <div class="slogan header-socials">
          <ul>
            <li><a href="">Instagram</a></li>
            <li><a href="">Youtube</a></li>
          </ul>
        </div>
      </div>
    </div>

    <button
      type="button"
      class="main-nav__mobile-menu-button"
      aria-expanded="false"
      aria-controls="menu-container"
      data-menu-button
    >
      <svg
        class="main-nav__mobile-menu-icon"
        aria-label="Переключатель мобильного меню"
      >
        <use
          class="main-nav__mobile-menu-icon--open"
          href="./images/sprite.svg#icon-menu"
        ></use>
        <use
          class="main-nav__mobile-menu-icon--close"
          href="./images/sprite.svg#icon-close"
        ></use>
      </svg>
    </button>
  </div>

  <div class="container slider-container">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <picture>
            <source
              srcset="
                ./images/desktop-slider1.jpg    1x,
                ./images/desktop-slider1@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet-slider1.jpg    1x,
                ./images/tablet-slider1@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile-slider1.jpg    1x,
                ./images/mobile-slider1@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/desktop-slider1.jpg"
              alt="Барбер работает с клиентом"
            />
          </picture>
        </li>

        <li>
          <picture>
            <source
              srcset="
                ./images/desktop-slider2.jpg    1x,
                ./images/desktop-slider2@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet-slider2.jpg    1x,
                ./images/tablet-slider2@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile-slider2.jpg    1x,
                ./images/mobile-slider2@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/desktop-slider2.jpg"
              alt="Рука держит инструмент для бритья"
            />
          </picture>
        </li>

        <li>
          <picture>
            <source
              srcset="
                ./images/desktop-slider3.jpg    1x,
                ./images/desktop-slider3@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet-slider3.jpg    1x,
                ./images/tablet-slider3@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile-slider3.jpg    1x,
                ./images/mobile-slider3@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/desktop-slider3.jpg"
              alt="Бородатый барбер работает склиентом"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>

  <div class="container header-content">
    <p class="slogan inverse">A hair salon for men in Kyiv</p>
    <h1 class="header-title">BarberShop</h1>
    <p class="header-description">
      Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со
      вкусом.
    </p>
  </div>
</header>
