<section id="masters" class="our-masters section">
  <div class="container">
    <b class="slogan masters">Для настоящих ценителей атмосферы</b>
    <h2 class="section-title margin">Наши мастера</h2>
    <ul class="team">
      <li class="member">
        <picture>
          <!-- медіаправило кадрування під mobile-screen формату .webp, .jpg та щільності 1х, 2х, 3х  -->
          <source
            srcset="
              ./images/our-masters/mobile/john-smith-418.webp  1x,
              ./images/our-masters/mobile/john-smith-836.webp  2x,
              ./images/our-masters/mobile/john-smith-1254.webp 3x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />

          <source
            srcset="
              ./images/our-masters/mobile/john-smith-418.jpg  1x,
              ./images/our-masters/mobile/john-smith-836.jpg  2x,
              ./images/our-masters/mobile/john-smith-1254.jpg 3x
            "
            media="(max-width: 767px)"
          />

          <!-- медіаправило кадрування під tablet-screen формату .webp, .jpg та щільності 1х, 2х, 3х  -->
          <source
            srcset="
              ./images/our-masters/tablet/john-smith-450.webp  1x,
              ./images/our-masters/tablet/john-smith-900.webp  2x,
              ./images/our-masters/tablet/john-smith-1350.webp 3x
            "
            type="image/webp"
            media="(max-width: 1199px)"
          />

          <source
            srcset="
              ./images/our-masters/tablet/john-smith-450.jpg  1x,
              ./images/our-masters/tablet/john-smith-900.jpg  2x,
              ./images/our-masters/tablet/john-smith-1350.jpg 3x
            "
            media="(max-width: 1199px)"
          />

          <!-- медіаправило кадрування під desktop-screen формату .webp, .jpg та щільності 1х, 2х, 3х  -->
          <source
            srcset="
              ./images/our-masters/desktop/john-smith-370.webp  1x,
              ./images/our-masters/desktop/john-smith-740.webp  2x,
              ./images/our-masters/desktop/john-smith-1110.webp 3x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/our-masters/desktop/john-smith-370.jpg  1x,
              ./images/our-masters/desktop/john-smith-740.jpg  2x,
              ./images/our-masters/desktop/john-smith-1110.jpg 3x
            "
            media="(min-width: 1200px)"
          />

          <!-- зображення по замовчуванню під tablet-screen .jpg та щільності 1х  -->
          <img
            class="photo"
            src="./images/our-masters/tablet/john-smith-450.jpg"
            alt="фото мастера John Smith"
          />
        </picture>
        <h3 class="name">John Smith</h3>
        <p class="post">Extreme Barber</p>
        <ul class="social-nets">
          <li class="net">
            <a href="" aria-label="ссылка на Instagram" class="net-button">
              <svg class="net-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="net">
            <a href="" aria-label="ссылка на Twitter" class="net-button">
              <svg class="net-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="net">
            <a href="" aria-label="ссылка на Facebook" class="net-button">
              <svg class="net-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="net">
            <a href="" aria-label="ссылка на LinkedIn" class="net-button">
              <svg class="net-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="member">
        <picture>
          <!-- медіаправило кадрування під mobile-screen формату .webp, .jpg та щільності 1х, 2х, 3х  -->
          <source
            srcset="
              ./images/our-masters/mobile/michele-doe-418.webp  1x,
              ./images/our-masters/mobile/michele-doe-836.webp  2x,
              ./images/our-masters/mobile/michele-doe-1254.webp 3x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />

          <source
            srcset="
              ./images/our-masters/mobile/michele-doe-418.jpg  1x,
              ./images/our-masters/mobile/michele-doe-836.jpg  2x,
              ./images/our-masters/mobile/michele-doe-1254.jpg 3x
            "
            media="(max-width: 767px)"
          />

          <!-- медіаправило кадрування під tablet-screen формату .webp, .jpg та щільності 1х, 2х, 3х  -->
          <source
            srcset="
              ./images/our-masters/tablet/michele-doe-450.webp  1x,
              ./images/our-masters/tablet/michele-doe-900.webp  2x,
              ./images/our-masters/tablet/michele-doe-1350.webp 3x
            "
            type="image/webp"
            media="(max-width: 1199px)"
          />

          <source
            srcset="
              ./images/our-masters/tablet/michele-doe-450.jpg  1x,
              ./images/our-masters/tablet/michele-doe-900.jpg  2x,
              ./images/our-masters/tablet/michele-doe-1350.jpg 3x
            "
            media="(max-width: 1199px)"
          />

          <!-- медіаправило кадрування під desktop-screen формату .webp, .jpg та щільності 1х, 2х, 3х  -->
          <source
            srcset="
              ./images/our-masters/desktop/michele-doe-370.webp  1x,
              ./images/our-masters/desktop/michele-doe-740.webp  2x,
              ./images/our-masters/desktop/michele-doe-1110.webp 3x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/our-masters/desktop/michele-doe-370.jpg  1x,
              ./images/our-masters/desktop/michele-doe-740.jpg  2x,
              ./images/our-masters/desktop/michele-doe-1110.jpg 3x
            "
            media="(min-width: 1200px)"
          />

          <!-- зображення по замовчуванню під tablet-screen .jpg та щільності 1х  -->
          <img
            class="photo"
            src="./images/our-masters/tablet/michele-doe-450.jpg"
            alt="фото мастера Michele Doe"
          />
        </picture>
        <h3 class="name">Michele Doe</h3>
        <p class="post">Extreme Barber</p>
        <ul class="social-nets">
          <li class="net">
            <a href="" aria-label="ссылка на Instagram" class="net-button">
              <svg class="net-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="net">
            <a href="" aria-label="ссылка на Twitter" class="net-button">
              <svg class="net-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="net">
            <a href="" aria-label="ссылка на Facebook" class="net-button">
              <svg class="net-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="net">
            <a href="" aria-label="ссылка на LinkedIn" class="net-button">
              <svg class="net-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="member">
        <picture>
          <!-- медіаправило кадрування під mobile-screen формату .webp, .jpg та щільності 1х, 2х, 3х  -->
          <source
            srcset="
              ./images/our-masters/mobile/alan-black-418.webp  1x,
              ./images/our-masters/mobile/alan-black-836.webp  2x,
              ./images/our-masters/mobile/alan-black-1254.webp 3x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />

          <source
            srcset="
              ./images/our-masters/mobile/alan-black-418.jpg  1x,
              ./images/our-masters/mobile/alan-black-836.jpg  2x,
              ./images/our-masters/mobile/alan-black-1254.jpg 3x
            "
            media="(max-width: 767px)"
          />

          <!-- медіаправило кадрування під tablet-screen формату .webp, .jpg та щільності 1х, 2х, 3х  -->
          <source
            srcset="
              ./images/our-masters/tablet/alan-black-450.webp  1x,
              ./images/our-masters/tablet/alan-black-900.webp  2x,
              ./images/our-masters/tablet/alan-black-1350.webp 3x
            "
            type="image/webp"
            media="(max-width: 1199px)"
          />

          <source
            srcset="
              ./images/our-masters/tablet/alan-black-450.jpg  1x,
              ./images/our-masters/tablet/alan-black-900.jpg  2x,
              ./images/our-masters/tablet/alan-black-1350.jpg 3x
            "
            media="(max-width: 1199px)"
          />

          <!-- медіаправило кадрування під desktop-screen формату .webp, .jpg та щільності 1х, 2х, 3х  -->
          <source
            srcset="
              ./images/our-masters/desktop/alan-black-370.webp  1x,
              ./images/our-masters/desktop/alan-black-740.webp  2x,
              ./images/our-masters/desktop/alan-black-1110.webp 3x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/our-masters/desktop/alan-black-370.jpg  1x,
              ./images/our-masters/desktop/alan-black-740.jpg  2x,
              ./images/our-masters/desktop/alan-black-1110.jpg 3x
            "
            media="(min-width: 1200px)"
          />

          <!-- зображення по замовчуванню під tablet-screen .jpg та щільності 1х  -->
          <img
            class="photo"
            src="./images/our-masters/tablet/alan-black-450.jpg"
            alt="фото мастера Alan Black"
          />
        </picture>
        <h3 class="name">Alan Black</h3>
        <p class="post">Extreme Barber</p>
        <ul class="social-nets">
          <li class="net">
            <a href="" aria-label="ссылка на Instagram" class="net-button">
              <svg class="net-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="net">
            <a href="" aria-label="ссылка на Twitter" class="net-button">
              <svg class="net-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="net">
            <a href="" aria-label="ссылка на Facebook" class="net-button">
              <svg class="net-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="net">
            <a href="" aria-label="ссылка на LinkedIn" class="net-button">
              <svg class="net-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
