.barba {
  margin-bottom: 44px;
  line-height: 1.91;
  
  @media screen and (min-width: $tablet-screen) {
    line-height: 1.36;
  }

  
 &::before {
   @media screen and (max-width: $tablet-screen - 1px) {
    margin-bottom: 20px;
  } 
 } 
}



.portfolio-list {
  @media screen and (min-width: $tablet-screen) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop-screen) {
    flex-wrap: nowrap;
  }

  .item {
    width: 100%;

    @media screen and (min-width: $tablet-screen) {
      width: 330px;
    }

    @media screen and (min-width: $desktop-screen) {
      width: 270px;
    }
  }

  @media screen and (max-width: $tablet-screen - 1px) {
    .item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (max-width: $desktop-screen - 1px) {
    .item:nth-child(2n + 1) {
      margin-right: 30px;
    }
    .item:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $desktop-screen) {
    .item:not(:last-child) {
      margin-right: 30px;
    }
  }
}


