// * {
//   outline: 1px solid;
// }

// Медіа правило регулює вирівнювання декоративного елементу по вертикалі для слогану
.masters::before {
  @media screen and (max-width: 218px) {
    margin-bottom: 42px;
  }

  @media screen and (min-width: 219px) and (max-width: 278px) {
    margin-bottom: 26px;
  }

  @media screen and (min-width: 279px) and (max-width: 419px) {
    margin-bottom: 13px;
  }
}

// Ситилізує секцію
.our-masters {
  background-color: $secondary-background-color;
}

// Ситилізує заголовок секції
.section-title.margin {
  // перебиває загальні стилі додатковим класом .margin
  margin-bottom: 44px;
}

// Ситилізує список майстрів
.team {
  @media screen and (min-width: $desktop-screen) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  // Ситилізує елемент списку
  .member {
    @media screen and (min-width: $desktop-screen) {
      margin: 15px;

      // по макету max-height: 502px розбіжність 1px
      max-height: 501px;
    }

    &:not(:last-child) {
      @media screen and (max-width: $desktop-screen - 1px) {
        margin-bottom: 64px;
      }
    }
  }
}

// Ситилізує фото майстра
.photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  // Медіа правило регулює максимальну висоту
  @media screen and (min-width: $mobile-screen) {
    width: 418px;
  }

  @media screen and (min-width: $tablet-screen) {
    width: 450px;
  }

  @media screen and (min-width: $desktop-screen) {
    width: 370px;
  }
}

// Стилізує Ім'я майстра
.name {
  margin-bottom: 8px;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.39;
  text-align: center;
  color: $title-text-color;
}

// Стилізує напрямок майстра
.post {
  margin-bottom: 30px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  color: $accent-color;
}

// Стилізує список соц.мереж майстра
.social-nets {
  display: flex;
  justify-content: center;
  align-items: center;

  // Стилізує елементи списку
  .net:not(:last-child) {
    margin-right: 10px;
  }
}

// Стилізує кнопки соціальних мереж майстра
.net-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: $title-text-color;
  background-color: $primary-background-color;

  transition: fill $duration-animation $timing-animation 0ms;

  // Стилізує підсвітку кольором
  &:hover,
  &:focus {
    fill: $accent-color;
    background-color: $primary-background-color;
  }
}
